[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
requests-cache = "*"
watchdog = "*"
pandasdmx = "*"
scikit-learn = "*"
plotly = "*"
streamlit-plotly-events = "*"
pingouin = "*"
seaborn = "*"
eurostat = "*"
datawizard = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
pytest-mock = "*"
flake8 = "*"
ipykernel = "*"
nbformat = ">=4.2.0"

[requires]
python_version = "3.10"
